html,
body,
#cesiumContainer {
  flex: 5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#app {
  width: 100%;
  padding: 10px;
  /* color: blue; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;